.loading {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  display: grid;
}
.end {
  animation: fadeout 0.7s ease-out 0.5s forwards;
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
